<p id="notice"><%= notice %></p>

<h1>Listing Dogs</h1>

<% Breed.all.each do |b| %>
    <%= link_to b.name, dogs_path(breed_id: b.id) %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th> Age</th>
      <th> Breed</th>
      <% if !params[:breed_id].nil? %>
        <th> Breed Description </th>
      <% end %>
      <th colspan="3"></th>
    </tr>
    <tr>
      <p>Sort:
        <%= link_to "by name", dogs_path(sort_by: :name) %>
        <%= link_to "by age", dogs_path(sort_by: :age) %>
      </p>
      <p>Filter:
        <%= link_to "dogs under 5yo", dogs_path(babies: :true) %>
      </p>
    </tr>

  </thead>

  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td> This dog's name is <%= dog.name %></td>
        <td> Dog's age is <%= dog.age %></td>
        <td> Breed <%= dog.breed.try(:name) %></td>
        <% if !params[:breed_id].nil? %>
            <td> Desc <%= dog.breed.description %></td>
        <% end %>
        <td><%= link_to 'Show', dog %></td>
        <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
        <td><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dog', new_dog_path %>

<%= link_to "View breeds", breeds_path %>